 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #243b55;
    --primary-color2: #fafafa;
    --secondary-color: #e30022;
    --tertiary-color: #1b1b1b;
    --tertiary-color2: #ffbf00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}

body {
    background-color: lightgray;
}

.container {
    background: var(--primary-color);
    color: var(--tertiary-color2);
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}

.weather_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #111c29;
    outline: none;
    color: var(--tertiary-color2);
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: var(--tertiary-color2);
}

.weather_search {
    position: relative;
}

.weather_search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color:var(--primary-color2);
}

.weather_units {
    font-size: 1.5rem;
}

.weather_units span {
    cursor: pointer;
}

.weather_units span:first-child {
    margin-right: 0.5rem;
}

.weather_body {
    text-align: center;
    margin-top: 3rem;
}

.weather_city {
    color: #fff;
}

.weather_datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather_forecast {
    background: var(--primary-color);
    color: var(--tertiary-color2);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.weather_icon img {
    width: 100px;
}

.weather_temperature {
    font-size: 1.75rem;
    padding: 1rem;
    margin: 0.5rem auto;
}

.weather_minmax {
    display: flex;
    justify-content: center;
}

.weather_minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather_card {
    display: flex;
    align-items: center;
    background: var(--tertiary-color);
    color: var(--primary-color2);
    padding: 1rem;
    border-radius: 30px;
}

.weather_card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather_card p {
    font-size: 14px;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather_header {
        flex-direction: column;
    }

    .weather_units {
        margin-top: 1rem;
    }
}

@media(max-width: 400px){
    .weather_info {
        grid-template-columns: none;
    }
}
